@model IEnumerable<string>

    <li class="@(ViewBag.SelectedCategory == null ? "active" : "")">
        <a asp-action="Index"
           asp-controller="Gallery"
           asp-route-selectedCategory="">
            Show All Categories
        </a>
    </li>
    @foreach (var cat in Model)
    {
        <li class="@(cat == ViewBag.SelectedCategory ? "active": "")">
            <a asp-controller="Gallery"
               asp-action="Index"
               asp-route-selectedCategory="@cat"
               >@cat</a>
        </li>
    }