@model GalleryIndexModel

<div class="container body-content">
    <div class="row gallery-content">
        <hr />
        <h6><strong>Latest Images</strong></h6>
        @foreach (var image in Model.Images)
        {
        <div class="gallery-image-container drop-shadow">
            <a asp-controller="Gallery" asp-action="Detail" asp-route-id="@image.Id">
                <div class="gallery-image" style="background-image:url(@image.Url)">
                </div>
            </a>
            <!--Just needed for the categoryName-->
            @foreach (var cat in Model.Categories) { }
            <div class="text-image">@image.Category.Name<br /><small>@image.Created</small></div>
        </div>
        }
    </div>
    </div>