<div class="container body-content">
    <div class="row image-detail-container">
        <div class="image-detail">
            @if (ViewBag.cart == null)
            {
            <div>
                <p>Empty Cart</p>

                <hr />
            </div>
            }
            else
            {
                @foreach (var item in ViewBag.cart)
                {
                    <div>
                        <img src="@item.GalleryImage.Url" style="width:10%;height:10%;" />
                        <small><a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.GalleryImage.Id">Remove from cart</a></small>

                        <hr />
                    </div>
                }
            }

            <div class="row">Total Ammount: <strong>@ViewBag.total</strong></div><br />
            <div class="row">
                <a class="btn btn-primary" asp-controller="Gallery" asp-action="Index">
                    Back to Gallery
                </a>
                <a class="btn btn-warning" asp-controller="Cart" asp-action="DownloadAsZip">
                    Compress Cart and Download Zip
                </a>
                <div style="float:right;">
                    <a class="btn btn-danger" asp-controller="Cart" asp-action="Remove">
                        Empty Cart
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
