<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>P I C K S</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/gfx/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/gfx/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/gfx/favicon-16x16.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" />
    <!--For developement-->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <!--For Production-->
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"
              asp-fallback-href="~/css/site.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-sm static-top">
        <div class="navbar-header">
            <a asp-controller="Gallery" asp-action="Index" class="navbar-brand">
                <span id="picks-text">P i c k s</span>
            </a>
        </div>
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a asp-controller="Gallery" asp-action="Index" class="menu-text">Gallery</a>
                </li>
                <li>
                    <a asp-controller="Image" asp-action="Upload" class="menu-text">Upload</a>
                </li>
                <li>
                    <a asp-controller="Category" asp-action="Index" class="menu-text">Add Category</a>
                </li>
                <li class="dropdown" style="background-color:hotpink;">
                    <a class="dropdown-toggle menu-text" data-toggle="dropdown" href="#">
                        Filter Category
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @await Component.InvokeAsync("Category")
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto" style="float:right;">
                <li>
                    <a asp-controller="Cart" asp-action="Index" class="menu-text">
                        <i class="fas fa-shopping-cart">
                        </i> Show Cart  <span class="badge badge-success"
      style="background:pink;color:black;">@ViewData["total"]</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div class="container body-content">
                            <div class="row gallery-content">
                            </div>
                            @RenderBody()
                            <hr />
                            <footer>
                                <p>&copy; 2019 - Mikael Zamecnik</p>
                            </footer>
                        </div>
                        <!--For developement-->
                        <environment include="Development">
                            <script src="~/lib/jquery/dist/jquery.js"></script>
                            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                        </environment>
                        <!--For Production-->
                        <environment exclude="Development">
                            <script src="~/lib/jquery/dist/jquery.min.js"
                                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js">
                            </script>
                            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js">
                            </script>
                        </environment>
                    </body>
                </html>
